// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.input {
  width: 400px;
}

.answer_container {
  border-left: 5px solid gray;
}

.coach {
  background-color: rgb(247, 217, 173);
}

p {
  font-size: 14pt;
}
